@tailwind base;
@tailwind components;

@font-face {
  font-family: Carbinet;
  src: url("../fonts/cabinet-grotesk/CabinetGrotesk-Regular.woff")
    format("woff");
}

@font-face {
  font-family: Archivo;
  src: url("../fonts/archivo/Archivo-Regular.woff") format("woff");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/inter/Inter-Regular.woff") format("woff");
}

@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .video-controller {
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2px; /* Specified height */
  background: #000000; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

  }

  .video-controller::-ms-fill-lower {
    background: #919e4b;
    border-radius: 2px;
  }

  /* Mouse-over effects */
.video-controller:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.video-controller::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #ffffff; /* white background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 9999px;
  border:0.1rem solid;
}

.video-controller::-moz-range-thumb {
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 9999px;
}
}


*{
  scroll-behavior: smooth;
}
