@tailwind base;
@tailwind components;

@font-face {
  font-family: Carbinet;
  src: url("../fonts/cabinet-grotesk/CabinetGrotesk-Regular.woff")
    format("woff");
}

@font-face {
  font-family: Archivo;
  src: url("../fonts/archivo/Archivo-Regular.woff") format("woff");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/inter/Inter-Regular.woff") format("woff");
}

@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

*{
  scroll-behavior: smooth;
}
